<nav class="columns is-multiline is-mobile post-pagination" role="pagination">
    <% if (page.prev) { %>
      <div class="column is-one-quarter">
        <a class="newer-posts" href="<%- url_for(page.prev.path) %>">
          <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
  <%- page.prev.title %>
        </a>
      </div>
    <% } %>
    <div class="bullet column is-one-quarter">
      <span class="page-number">•</span>
    </div>
    <% if (page.next) { %>
      <div class="column is-one-quarter">
        <a class="older-posts" href="<%- url_for(page.next.path) %>">
            <%- page.next.title %> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </a>
      </div>
    <% } %>
</nav>
