<nav class="columns is-multiline is-mobile post-pagination" role="pagination">
    <% if (page.prev) { %>
      <div class="column is-one-quarter">
        <a class="newer-posts" href="<%- url_for(page.prev.path) %>">
            ← <%- page.prev.title %>
        </a>
      </div>
    <% } %>
    <div class="column is-one-quarter">
      <span class="page-number">•</span>
    </div>
    <% if (page.next) { %>
      <div class="column is-one-quarter">
        <a class="older-posts" href="<%- url_for(page.next.path) %>">
            <%- page.next.title %> →
        </a>
      </div>
    <% } %>
</nav>
