<footer class="footer">
  <div class="container">
    <div class="content">
      <p>
        <%= config.author || config.title %> <i class="fa fa-bolt fa-2x" aria-hidden="true"></i>
 <%= date( new Date(), 'YYYY' ) %>  -
        Published with <a href="http://hexo.io/" target="_blank">Hexo</a>
      </p>
    </div>
    <% if(is_post()) { %>
      <%- partial('_partial/social') %>
    <% } %>
  </div>
</footer>
