<main class="container" role="main">
  <article class="page main-content">
    <header>
      <h1 class="title"><%- page.title %> - <%- config.author %></h1>
    </header>
    <section class="page-content">
      <%- page.content %>
    </section>
    <footer class="page-footer">
      <%- partial('post/author') %>
    </footer>
  </article>
</main>
