<main class="container" role="main">
  <article class="page main-content">
    <section class="page-content">
      <%- page.content %>
    </section>
    <footer class="page-footer">
      <%- partial('post/author') %>
    </footer>
  </article>
</main>
