<main class="container main-content" role="main">
  <article class="page">
    <header>
      <h1 class="title page-title"><%- config.author %></h1>
    </header>
    <section class="page-content">
      <%- page.content %>
    </section>
    <hr>
    <footer class="page-footer">
      <%- partial('post/author') %>
    </footer>
  </article>
</main>
