<div class="social">
  <a href="https://github.com/<%= theme.github %>"><i class="fa fa-github fa-2x"></i></a>
  <a href="https://twitter.com/<%= theme.twitter %>"><i class="fa fa-twitter fa-2x"></i></a>
  <a href="#"><i class="fa fa-rss fa-2x"></i></a>
</div>
